*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.parent{
    width: 150px;
    height: 1500px;
    display: grid;
    grid-template-columns: 200px 200px 200px;
    grid-template-rows: 200px 200px 200px;
    gap: 30px;
}

.child1{
    background-color: aliceblue;
}

.child2{
    background-color: aqua;
}

.child3{
    background-color: aquamarine;
}

.child4{
    background-color: black;
}

.child5{
    background-color: blanchedalmond;
}

.child6{
    background-color: rgb(38, 25, 158);
}

.child7{
    background-color: rgb(241, 145, 0);
}

.child8{
    background-color: rgb(0, 224, 93);
}

.child9{
    background-color: rgb(255, 0, 0);
}


