/* Reset some styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.qr-code-container {
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 280px;
    padding: 20px;
}

.qr-code {
    margin-bottom: 20px;
}

.qr-image {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.text-content h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

.text-content p {
    font-size: 14px;
    color: #777;
    
}

